.titleContainer {
    grid-area: 1/1/1/3;
    text-align: center;

    font-size: xxx-large;
    font-weight: 100;
}

.toTopBtn {
    position: fixed;
    bottom: 8%;
    right: 2%;
    font-size: xxx-large;
}

.toBottomBtn {
    position: fixed;
    bottom: 2%;
    right: 2%;
    font-size: xxx-large;
}

.toTopBtn > a,
.toBottomBtn > a {
    text-decoration: none;
}