.titleContainer {
    grid-area: 1/1/1/3;
    text-align: center;

    font-size: xxx-large;
    font-weight: 100;
}

.navBtns {
    position: fixed;
    bottom: 2%;
    right: 2%;
    font-size: xxx-large;
}

.navBtns a {
    text-decoration: none;
}

.toTopBtn,
.toBottomBtn {
    margin-top: 20px;
}