.priorityLabel {
    height: 100%;
    width: 70%;
    transform: skew(-20deg);
}

.highPriority {
    background-color: var(--highPriorityMainClr);
    box-shadow: 6px 0 0 0 var(--highPrioritySecClr);
}

.mediumPriority {
    background-color: var(--mediumPriorityMainClr);
    box-shadow: 6px 0 0 0 var(--mediumPrioritySecClr);
}

.lowPriority {
    background-color: var(--lowPriorityMainClr);
    box-shadow: 6px 0 0 0 var(--lowPrioritySecClr);
}

.noPriority {
    background-color: var(--noPriorityMainClr);
    box-shadow: 6px 0 0 0 var(--noPrioritySecClr);
}