.upcomingContainer {
    grid-area: 2/2/2/3;

    display: grid;
    grid-template-columns: 1fr;  
    gap: .5em;
    max-height: 1fr;

    margin-top: 60%;
    margin-bottom: 40%;
    height: 100%;
    overflow-y: scroll;
}

.upcomingLabel {
    text-align: center;
    font-size: xx-large;
    font-weight: 300;
}

.todayContainer,
.tommorowContainer,
.nextWeekContainer {
    margin-left: 6%;
}

.todayEvent,
.tommorowEvent,
.nextWeekEvent {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    box-shadow: 2px 2px 3px 0 var(--secBckgClr);
    background-color: var(--tetBckgClr);
    color: #fff;
    margin-top: 1%;
    border-radius: 10px;
}

.listItem {
    grid-area: 1/1/1/5;
    padding: 5% 0 5% 5%;
}

.listItem::before {
    content: "📌 ";
    font-weight: 900;
}

.timeOfEvent,
.dateOfEvent {
    grid-area: 1/5/1/7;
    margin-top: 9%;
}

.timeOfEvent::before {
    content: '🕒 ';
}

.priorityLabel {
    grid-area: 1/7/1/8;
}

.showDetailsBtn {
    grid-area: 1/8/1/9;
    display: flex;
    justify-content: center;
    align-items: center;
}